
    body{
        background-image:url('/static/images/mystery.png'),url('/static/images/nelsonmandela.png');
        
        background-position:left,right;
        background-repeat:no-repeat;
        
        width: 50px;
        background-size: 50% 100%;
        background-attachment: fixed;
       
    }
  
    ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

ul li {
  display: inline-block;
  position:relative;
  padding-left: 50px;
  padding-top: 25px;
  color: rgb(247, 3, 255);
  font-weight: 200;
  font-style: italic;
  font-size: large;
}
ul li:hover {
  cursor: pointer;
  

}
ul li:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0; /* Position the arrow on the right side of the list item */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px; /* Create a triangle shape */
  border-color: transparent transparent transparent #333;
  
}
ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  border-radius: 15px;
  width: 5em;

 
}

ul li:hover ul {
  display:block;
  width:20em;
  height:max-content;
  color: blueviolet;
  padding-left: 1px;
  
  
}
.sub-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  z-index: 2;
  width: 70%;
  margin: 10px;
 
  
  /* Inherit the background image from the parent element */
  /* background-image: inherit; */

}

ul li ul li:hover .sub-content {
  display:inline-block;
  width:35em;
  height: 25em;
  color: blue;
  
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  float: right;
  width: 50%;
}
.hover-image{
    display:none
}

li:hover > a {
  color: white;
}

