{% load static %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<!-- Header -->
<div class="top">
	<nav class="my-2 my-md-0 mr-md-3">

		<!-- <a class="btn btn-outline-primary" href="{% url 'home' %}">Home</a> -->
		<a class="btn btn-outline-primary" href="{% url 'accounts' %}">Account</a>
		<a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
		<a class="btn btn-outline-primary" href="{% url 'register' %}">Register</a>
		
	  </nav>
	
</div>


<!-- End Header -->

<!-- <script type="text/javascript">
	document.getElementById("id_q").value = "{{query}}"
</script> -->

