{% extends 'base.html' %}
{% block content %}
<style>
    
    body{
      background-color: rgb(57, 114, 160);
    }
 

    h3{
        color: rgb(250, 250, 252);
        font-size: 10vh;
        padding-top: 15%;
     
    }
    p{
        box-sizing: border-box; 
        font-size: 25px;
        color: rgb(246, 246, 248);
    }

</style>




<div style="text-align: center;">
    <h3>Learning Ocean</h3>
   <p>
    Welcome to Learning Ocean, where the tides of knowledge wash in abstracts of various book genres. <br> 
    Are you ready to embark on a journey through the depths of horror, the soaring heights of romance, <br>
    and the boundless expanse of science fiction? Our collection of abstracts is like a treasure trove <br>
    waiting to be discovered, with each abstract offering a glimpse into the fascinating worlds of  <br>
    different authors and their stories. But here's the question: what kind of treasures are you seeking? <br>
     Are you looking to be terrified by the horror genre, swept off your feet by the romance genre, or <br>
     transported to distant galaxies by the science fiction genre? <br> The choice is yours, so dive in and 
     discover what Learning Ocean has in store for you!
   </p>
</div>
{% endblock content %}